.Input{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 360px;
    height: 28px;
    padding: 4px;
    border-radius: 10px 80px 10px 80px ;
    outline:none;
    border:none;
    background-color: white;
}

.Button{
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 9px;
    background-color: rgb(71,88,131);
    border-radius: 10px 30px 10px 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;

}

.Button:hover{
    background-color:white;
    transform: translateY(-2px);
}