.pokemonCard {
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 10px;
    background-color: #b81f21f3;
    border-radius: 15px 15px 15px 0;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: gray;
}

.pokemonImg {
    padding-top: 20px;
    width: 80px;
    height: 80px;
}

.pokemonImgConteiner {
    padding: 5px;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8e2dc;
    border-radius: 15px 15px 15px 0;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: gray;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    flex: 1;
}

.cardTop {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2d42;
    justify-content: space-around;
    border-radius: 15px 0 15px 0;
}

.cardTop a {
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
}
.cardTop:hover{
    transform: translateY(-10px);
    color: darkorange;
}
.cardTop a:hover {
    color: darkorange;
}

.cardButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pokemonType {
    display: flex;

}

.pokemonTypeText {
    margin-right: 10px;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    background-color: #2b2d42;
    color: white;
    width: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 2px;

}

.typeTitle{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(102, 72, 67);
    width: 60px;
    border-radius: 15px;
    color: gray;
    padding: 2px;

}